$mauve: #e84118;
$heather: #e84118;
$blush: #cd908b;
$grey: #343434;

$gh: #4183c4;
$tw: #2daae1;
$li: #069;
$fb: #3b5997;

$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

$f: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$p: 12px;

.save {
    width: 100px;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}

.fake-body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: $p;
    background: inherit;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$mauve', endColorstr='$blush', GradientType=1);
    font-family: $f;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    perspective: 1300px;
}

.editRinput,
.editRtextarea,
.editRbutton {
    appearance: none;
    border: 0;
    font-family: $f;
    resize: none;
}
.editRa,
.editRbutton,
.editRinput[type="submit"] {
    cursor: pointer;
}
::selection {
    background: rgba($blush, .2);
}

.settings {
    opacity: 100;
    margin-top: 100px;
    // will-change: opacity, transform;
    // animation: rotateIn 1000ms $easeOutCubic 500ms forwards;
    position: relative;
    display: block;
    flex-flow: row wrap;
    background: white;
    box-shadow: 0 0 20px rgba(darken($mauve, 20%), .2);
    color: $mauve;
    border-radius: 2px;
    align-items: center;

    max-width: 900px;
    height: 1300px;
    @media only screen and (min-width: 500px) {
        max-height: 1200px;
    }
}

span.navr {
    transition: all 150ms ease-out;
    flex-basis: 25%;
    display: block;
    position: relative;
    width: 100%;
    padding: $p*1.5 0;
    text-align: center;
    &:nth-of-type(1) {
        z-index: 5;
    }
    &:nth-of-type(2) {
        z-index: 4;
    }
    &:nth-of-type(3) {
        z-index: 3;
    }
    &:nth-of-type(4) {
        z-index: 2;
    }
    &:nth-of-type(5) {
        z-index: 1;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        width: 2px;
        height: 100%;
        background: mix($blush, white, 25%);
    }
    &:last-of-type:after {
        display: none;
    }
}
input.navr {
    cursor: pointer;
    appearance: none;
    opacity: 0;
    position: absolute;
    z-index: 6;
    top: 0;
    width: 25%;
    height: 53px;
    &:hover,
    &:focus {
        + span {
            background: mix($blush, white, 25%);
        }
    }
    &:active,
    &:checked {
        + span {
            background: mix($blush, $mauve);
            color: white;
        }
    }
    &:active {
        + span {
            transition: all 150ms ease-in;
        }
    }
    ~ main {
        .editingsection {
            transition: all 450ms ease-out;
            transform: translateY(50%) translateZ(0);
            opacity: 0;
            z-index: -1;
        }
    }
    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            left: $i*25% - 25%;
            &:checked {
                ~ main {
                    .editingsection:nth-of-type(#{$i}) {
                        transform: translateY(0) translateZ(0);
                        opacity: 1;
                        z-index: 10;
                    }
                }
            }
        }
    }
}

main {
    align-self: flex-end;
    position: relative;

    border-top: 2px solid mix($blush, white, 25%);
    width: 100%;
    height: calc(100% - 52px);
}

.editingsection {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    will-change: transform, opacity;

    .editul {
        display: inline-flex;
        flex-flow: row wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        padding: $p;
        width: 100%;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        .editli {
            opacity: 0;
            transform: translateY(100%) translateZ(0);
            will-change: transform, opacity;
            animation: slideInUp 600ms $easeOutCubic forwards;
            padding: $p/2 $p;
            width: 40%;
            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    animation-delay: #{($i*100)+600}ms;
                }
            }
            &.large {
                width: 100%;
            }
            &.padding {
                padding: $p;
            }
        }
    }
    &.upcoming {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 32px;
            color: mix($grey, white, 25%);
        }
    }
}

.material {
    width: 100%;
    div {
        position: relative;
        width: 100%;
        padding-top: $p*1.5;
    }
    label {
        transition: all 150ms ease-out;
        will-change: transform;
        transform: translateZ(0);
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 4px;
        font-weight: 500;
        color: $blush;
        line-height: 1.5;
    }
    .label-instructions {
        transition: all 150ms ease-out;
        will-change: transform;
        left: 0;
        top: 0;
        transform: translateZ(0);
        display: block;
        position: absolute;
        z-index: 0;

        left: 0;
        width: 100%;
        padding-bottom: 4px;
        font-weight: 500;
        color: $blush;
        line-height: 1.5;
    }
    hr {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border: 0;
        border-radius: 4px;
        margin: 0;
        background: mix($grey, white, 10%);
        &:after {
            transition: all 150ms ease-out;
            transform: scaleX(0) translateZ(0);
            transform-origin: left top;
            will-change: transform;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: $blush;
        }
    }
    .editRinput:not([value=""]) {
        + label {
            transform: translateY(-24px) translateZ(0);
            font-size: 12px;
        }
    }
    .editRinput {
        display: block;
        appearance: none;
        position: relative;
        z-index: 1;
        padding: 0 0 4px;
        margin: 0;
        width: 100%;
        background: none;
        color: $mauve;
        font-size: 16px;
        line-height: 1.5;
        &:focus {
            + label {
                transform: translateY(-24px) translateZ(0);
                font-size: 12px;
            }
        }
        &:focus {
            ~ hr:after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
    textarea {
        display: block;
        appearance: none;
        position: relative;
        z-index: 1;
        padding: 0 0 4px;
        margin: 0;
        width: 700px;
        height: 100px;
        background: none;
        color: $mauve;
        font-size: 16px;
        line-height: 1.5;
        &:focus,
        &:valid {
            + label {
                transform: translateY(-24px) translateZ(0);
                font-size: 12px;
            }
        }
        &:focus {
            ~ hr:after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
}
.material-checkbox {
    div {
        position: relative;
    }
    .check {
        z-index: 0;
        display: flex;
        align-items: center;
        align-content: center;
    }
    span {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 2px;
        background: mix($grey, white, 10%);
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
    line {
        fill: none;
        stroke: rgba(white, .5);
        stroke-width: 2px;
        stroke-linecap: round;
    }
    g:last-child {
        line {
            stroke: white;
            opacity: 0;
            &:first-child {
                transition: stroke-dashoffset 100ms ease-out;
                stroke-dasharray: 6.708;
                stroke-dashoffset: 6.708;
            }
            &:last-child {
                transition: stroke-dashoffset 200ms ease-out 100ms;
                stroke-dasharray: 14.873;
                stroke-dashoffset: 14.873;
            }
        }
    }
    label {
        margin-left: $p/2;
    }
    input {
        cursor: pointer;
        opacity: 0;
        appearance: none;
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        &:checked {
            + div {
                span {
                    background: $blush;
                }
                g:last-child {
                    line {
                        opacity: 1;
                        &:first-child {
                            stroke-dashoffset: 0;
                        }
                        &:last-child {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }
        }
    }
}

.material-button {
    width: 100%;
    div {
        width: 100%;
    }
    button,
    input[type="submit"] {
        margin: 0;
        border: 0;
        border-radius: 2px;
        padding: $p/2 $p;
        background: mix($grey, white, 10%);
        color: $mauve;
        font-size: 16px;
        transition: all 150ms ease-out;
        &:hover,
        &:focus {
            background: $blush;
            color: white;
        }
    }
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100%) translateZ(0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #ffffff;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #ffffff;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
