$logo: #3dbb3d;
$gray: #777777;
$black: #070707;
$green: #e84118;
$aqua: #000;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

$hulu: 'Nunito Sans', sans-serif;
$heading: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;

.profileedit-body {
    background: linear-gradient(to right, $aqua, $green);
}

.edit-container {
    background: $black;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba($gray, .5);
}

.yologo {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    font-family: $hulu;
    color: $hulu;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.CTA {
    width: 80px;
    height: 40px;
    right: -20px;
    bottom: 0;
    margin-bottom: 90px;
    position: absolute;
    z-index: 1;
    background: $green;
    font-size: 0.8em;
    transform: rotate(-90deg);
    transition: all .5s ease-in-out;
    cursor: pointer;
    .edith1 {
        color: $white;
        margin-top: 10px;
        margin-left: 9px;
    }
    &:hover {
        background: $aqua;
        transform: scale(1.1);
    }
}

.leftbox {
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: $green;
    box-shadow: 3px 3px 10px rgba($gray, .5);
}

.profnav a {
    list-style: none;
    padding: 35px;
    color: $white;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
    &:hover {
        color: $aqua;
        transform: scale(1.2);
        cursor: pointer;
    }
    &:first-child {
        margin-top: 7px;
    }
}

.active {
    color: $aqua;
}

.rightbox {
    float: right;
    width: 60%;
    height: 100%;
}

// .profile,
// .payment,
// .subscription,
// .privacy,
// .settings {
//     transition: opacity .5s ease-in;
//     position: absolute;
//     width: 70%;
// }

.edith1 {
    font-family: $heading;
    color: $green;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 35px;
}

.edith2 {
    color: $white;
    font-family: $body;
    width: 80%;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 2px;
}

.editSubmit {
    border: 0px;
    border-radius: 25px;
    width: 150px;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: $white;
    cursor: pointer;
}

.editSubmit:hover {
    background-color: $green;
}

.spana {
    font-size: .5em;
    color: $gray;
    cursor: pointer;
}

.heri {
    border: none;

    border-bottom: 1px solid lighten($green, 40%);
    background: $black;
    font-family: $body;
    color: white;
    padding: 2px;
    margin-top: 10px;
}
